---
import "@src/app.css";
import * as spotify from "@src/lib/spotify";
import { Debug } from "astro:components";
import Layout from "@src/components/Layout.astro";
import SearchQuery from "@src/components/SearchQuery.astro";
import ArtistInfo from "@src/components/ArtistInfo.astro";

const session = await Astro.locals.auth.validate();
if (!session) return Astro.redirect("/login", 302);
const accessToken = session.accessToken;
const currentTrack = await spotify.getCurrentTrack(accessToken);
const artist = currentTrack.artists[0];
---

<Layout>
  <h1>Read about artist while you listen</h1>
  <p>
    You're listening to <a href={artist.external_urls.spotify}>{artist.name}</a
    >.
  </p>
  <div class="columns">
    <div class="column" style="--col-width: 25%">
      <h2>Artist info</h2>
      <ArtistInfo {artist} />
    </div>
    <div class="column" style="--col-width: 75%">
      <h3>Search queries</h3>
      {currentTrack.searchQueries.map((query) => <SearchQuery {query} />)}
    </div>
  </div>

  <details>
    <summary>Debug of current track</summary>
    <Debug {currentTrack} />
  </details>
</Layout>

<style>
  .columns {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .column {
    flex: 1 0;
    flex-basis: var(--col-width, 50%);
  }
</style>
